h1 {font-family: 'Fascinate', cursive;
    font-family: 'Open Sans', sans-serif;

}
p { font-family: 'Fascinate', cursive;
    font-family: 'Open Sans', sans-serif;

}
a {
    font-family: 'Fascinate', cursive;
font-family: 'Open Sans', sans-serif;
}
body{
text-align:center  
   
}
style {
    background-color: F9F2ED;
}
